<html>
  <head>
    <title>Google Maps Generator</title>
    <script
      src='https://polyfill.io/v3/polyfill.min.js?features=default'
    ></script>
    {{> components/styles }}

    {{! Labels for google maps }}
<link rel='stylesheet' type='text/css' media='all' href='gmaps-labels.css' />
<script
  type='text/javascript'
  src='http://maps.google.com/maps/api/js?v=3&sensor=false'
></script>
<script
  type='text/javascript'
  src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
></script>
<script type='text/javascript' src='gmaps-labels.js'></script>
  </head>
  <body>

    {{> components/map }}

    {{> components/scripts }}

    <script
      src='https://code.jquery.com/jquery-3.6.3.js'
      integrity='sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM='
      crossorigin='anonymous'
    ></script>
    <script
      src='https://maps.googleapis.com/maps/api/js?key={{ googleMapsApiKey }}&callback=initGoogleMapsApi&v=weekly'
      defer
    ></script>

  </body>
</html>
